<table>
    <tr>
        <th>Nom</th>
        <th>Marque</th>
        <th>Garage</th>
    </tr>
    {% for car in cars %}
        <tr>
            <td class="click-car" data-car-id="{{ car.id }}"><a href="#">{{ car.modelName }}</a></td>
            <td>{{ car.brand }}</td>
            <td>{{ car.garage }}</td>
        </tr>
    {% endfor %}
</table>