<h2>Détails du garage : {{ garage.title }}</h2>
<p><strong>Nom du garage :</strong> {{ garage.title }}</p>
<p><strong>Adresse du garage :</strong> {{ garage.address }}</p>
<button class='goback'>Retour</bouton>