{% extends 'base.html.twig' %}

{% block title %}Tool4cars{% endblock %}

{% block body %}
    <label for="client-selector">Changer de client :</label>
    <select id="client-selector">
        <option value="clienta" {{ client == 'clienta' ? 'selected' : '' }}>Client A</option>
        <option value="clientb" {{ client == 'clientb' ? 'selected' : '' }}>Client B</option>
        <option value="clientc" {{ client == 'clientc' ? 'selected' : '' }}>Client C</option>
    </select>
    <br>
    <div id="module">
        <label for="module-selector">Changer de module :</label>
        <select id="module-selector">
            <option value="cars">Voitures</option>
            <option value="garages">Garages</option>
        </select>
    </div>
    <div class="dynamic-div" data-module="cars" data-script="ajax"></div>
{% endblock %}
